# Игнорирование системных файлов
Thumbs.db
.DS_Store

# Игнорирование временных и резервных файлов
*_old
*_backup

# Игнорирование временной папки
tmp/

# Игнорирование других ненужных файлов
*.zip
*.bak